.top-spacer-20 {
  margin-top: 20px;
}

.top-spacer-40 {
  margin-top: 40px;
}

.top-spacer-5 {
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin-bottom: -5px;
}

.list-inline>li {
  margin-right: -10px;
}


