<script>

</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <div class="input-group top-spacer-5">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="resizeRegister()">Resize</button>
      </span>
        <input [(ngModel)]="sizeRequest" type="text" class="form-control" placeholder="steps...">
      </div>
    </div>
    <div class="col-sm-11">
    </div>
  </div>
  <div class="row top-spacer-20">
    <div class="col-sm-1">
      <div *ngIf="register" class="pull-right">
        <ul>
          <li *ngFor="let qubit of register.slots">
            <app-element [element]="qubit" (click)="setQubit(qubit)"></app-element>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-11 btn-group">
      <div *ngIf="layers" class="pull-left">
        <ul class="list-inline">
          <li *ngFor="let layer of layers">
            <ul>
              <li *ngFor="let slot of layer.slots">
                <app-element [element]="slot" (click)="addGate(slot)"
                             (contextmenu)="removeGate(slot)"></app-element>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row top-spacer-40">
    <div class="col-sm-2 ">
    </div>
    <div class="col-sm-10"></div>
  </div>
</div>


