.top-spacer-20 {
  margin-top: 20px;
}

.top-spacer-40 {
  margin-top: 40px;
}

.top-spacer-5 {
  margin-top: 5px;
}

.result-text {
  font-family: Arial, Arial, sans-serif;
  font-style: normal;
}

ul {
  list-style-type: none;
}
